
@model Hospital

<h1 style="color: cornflowerblue">
    Editar hospital
</h1>

<p>
    <a asp-controller="Hospitales" asp-action="Index">
        Volver
    </a>
</p>

<form method="post">
    <input type="hidden" value="@Model.IdHospital" class="form-control" />
    <br />
    <label>Nombre:</label>
    <input type="text" name="nombre" 
        value="@Model.Nombre" class="form-control" />
    <br />
    <label>Dirección:</label>
    <input type="text" name="direccion" 
        value="@Model.Direccion" class="form-control" />
    <br />
    <label>Teléfono:</label>
    <input type="text" name="telefono" 
        value="@Model.Telefono" class="form-control" />
    <br />
    <label>Camas:</label>
    <input type="number" name="camas" 
        value="@Model.Camas" class="form-control" />
    <br />
    <button class="btn btn-outline-info">Editar</button>
</form>

<h3 style="color: darkolivegreen">@ViewData["MENSAJE"]</h3>